openapi: 3.0.3
info:
  title: Career Agent API
  description: 'A public, crowdsourced job database powered by direct ATS API scraping.
    No authentication required. Push scraped jobs from supported ATS providers and
    pull jobs freely. URLs are validated against a strict whitelist of known ATS domains
    to prevent spam.

    '
  version: 2.0.0
servers:
- url: https://api.careeragent.fyi
  description: Live community instance
- url: http://localhost:3000
  description: Local development server
components:
  schemas:
    JobInput:
      type: object
      required:
      - company
      - title
      - url
      description: "A single job to push. `location` is optional. Entries with missing\
        \ required fields, an invalid URL, or a URL not matching the supported ATS\
        \ domain whitelist are silently skipped — the batch is never rejected\
        \ unless every entry is invalid.\n"
      properties:
        company:
          type: string
          maxLength: 512
          example: Acme Corp
        title:
          type: string
          maxLength: 512
          example: Software Engineer
        location:
          type: string
          maxLength: 512
          example: Remote
        url:
          type: string
          maxLength: 2048
          example: https://acmecorp.greenhouse.io/jobs/12345
    JobOutput:
      type: object
      properties:
        id:
          type: string
          format: uuid
        company:
          type: string
        title:
          type: string
        location:
          type: string
          nullable: true
        url:
          type: string
        created_at:
          type: string
          format: date-time
paths:
  /:
    get:
      summary: API Info
      description: Basic API metadata and links. Not part of the versioned API surface.
      responses:
        '200':
          description: API metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    example: CareerAgent API
                  version:
                    type: string
                    description: Deployed git commit hash or "unknown".
                  docs:
                    type: string
                    example: https://github.com/koteshrv/career-agent-api/blob/main/API_REFERENCE.md
                  repo:
                    type: string
                    example: https://github.com/koteshrv/career-agent-api
                  health:
                    type: string
                    example: /health
  /v1/jobs/report:
    post:
      summary: Report a Job
      description: 'Community quality control. Flag a job as fake, dead, or spam.


        Once **3 distinct IPs** report the same job it is automatically flagged and
        withdrawn from the active pool.


        Each IP may only report a given job once.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - job_id
              properties:
                job_id:
                  type: string
                  format: uuid
                  description: UUID of the job being reported.
                reason:
                  type: string
                  maxLength: 512
                  example: dead_link
                  description: Optional freeform reason (e.g. dead_link, fake, spam).
            example:
              job_id: 550e8400-e29b-41d4-a716-446655440000
              reason: dead_link
      responses:
        '200':
          description: Report recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  report_count:
                    type: integer
                    description: Number of distinct IPs that have reported this job
                      so far.
                    example: 1
                  reports_needed_to_flag:
                    type: integer
                    description: How many more reports are needed before the job is
                      flagged.
                    example: 2
                  job_flagged:
                    type: boolean
                    description: True if this report crossed the threshold and withdrew
                      the job.
                    example: false
                  message:
                    type: string
                    description: Present when this IP has already reported the job.
        '400':
          description: Missing or invalid `job_id`, or malformed JSON body.
        '404':
          description: Job not found.
        '409':
          description: This IP has already reported this job.
        '429':
          description: "Too many requests — rate limited."
  /health:
    get:
      summary: Health Check
      description: Unauthenticated liveness probe. Also verifies the database connection.
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  database:
                    type: string
                    example: ok
                  version:
                    type: string
                    description: Deployed git commit hash or "unknown".
        '503':
          description: Database is unreachable.
  /v1/jobs:
    post:
      summary: Create Jobs
      description: "Upload a batch of jobs scraped from ATS providers. No authentication\
        \ required.\n\n**URL Validation:** Each job's `url` must match one of the\
        \ supported ATS domains (e.g. `greenhouse.io`, `lever.co`, `myworkdayjobs.com`,\
        \ `ashbyhq.com`). Entries failing this check are skipped and counted in `invalid_skipped`.\
        \ If every entry in the batch is invalid, the request returns `400`.\n\n**Deduplication:**\
        \ Duplicate URLs (already in the database) are silently ignored — they\
        \ do not count as accepted or failed.\n\n**Batch size:** Maximum 5000 jobs\
        \ per request.\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jobs
              properties:
                jobs:
                  type: array
                  items:
                    $ref: '#/components/schemas/JobInput'
                  maxItems: 5000
            example:
              jobs:
              - company: Acme Corp
                title: Software Engineer
                location: Remote
                url: https://acmecorp.greenhouse.io/jobs/12345
              - company: Globex
                title: Backend Developer
                location: New York, NY
                url: https://jobs.lever.co/globex/abc123
      responses:
        '200':
          description: Batch processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Pushed 2 jobs.
                  jobs_accepted:
                    type: integer
                    description: Unique new jobs actually stored from this batch.
                    example: 2
                  invalid_skipped:
                    type: integer
                    description: 'Entries skipped due to missing fields, invalid URL
                      format, or a URL not matching the ATS whitelist.

                      '
                    example: 0
                  failed:
                    type: integer
                    description: Entries that could not be inserted due to an unexpected
                      database error.
                    example: 0
        '400':
          description: All submitted jobs were invalid, or the request body is malformed.
        '413':
          description: "Payload too large — exceeds 5000 jobs per request."
        '429':
          description: "Too many requests — rate limited."
    get:
      summary: Search & Pull Jobs
      description: Search for jobs, or pull random jobs by setting ?sort=random.
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 5000
        description: Number of jobs to return. Defaults to 50, maximum 5000.
      - in: query
        name: include_stale
        schema:
          type: string
          enum:
          - 'true'
        description: Pass `true` to include jobs older than 60 days.
      - in: query
        name: q
        schema:
          type: string
        description: Keyword search across title and company.
      - in: query
        name: company
        schema:
          type: string
        description: Filter by exact company name.
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - recent
          - random
          default: recent
        description: Sort order. Use "random" to get random jobs (the old pull behavior).
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
          minimum: 0
        description: Pagination offset.
      responses:
        '200':
          description: Jobs retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobOutput'
                  has_more:
                    type: boolean
                    description: 'True if at least one more unflagged job existed
                      in the pool beyond this batch at query time.

                      '
                    example: true
                  limit:
                    type: integer
                  offset:
                    type: integer
        '429':
          description: "Too many requests — rate limited."
  /v1/companies:
    get:
      summary: List Companies
      description: List all companies with active jobs, sorted by job count.
      parameters:
      - in: query
        name: q
        schema:
          type: string
        description: Fuzzy search by company name.
      - in: query
        name: limit
        schema:
          type: integer
          default: 100
          minimum: 1
          maximum: 500
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
          minimum: 0
      responses:
        '200':
          description: Companies retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  companies:
                    type: array
                    items:
                      type: object
                      properties:
                        company:
                          type: string
                        job_count:
                          type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  has_more:
                    type: boolean
